@{ ViewData["Title"] = "Login"; }
@model beltexam4.ViewModels.LoginViewModel

<div class="loginandreg">
<h1>Login</h1>

<form asp-controller="User" asp-action="login" method="post">
    <label asp-for="email"></label>
    <input asp-for="email"/>
    @{if(ViewBag.login_error != null){
        <p>@ViewBag.login_error</p>
    }}
    <span asp-validation-for="email"></span>
    <label asp-for="password"></label>
    <input type="password" asp-for="password"/>
    @{if(ViewBag.login_error != null){
        <p>@ViewBag.login_error</p>
    }}
    <span asp-validation-for="password"></span>
    <button type="submit">Login</button>
</form>
<p>Not yet registered? <a href="/">Register now!</>

</div>