@{ ViewData["Title"] = "Register"; }
@model beltexam4.ViewModels.RegisterViewModel

<div class="loginandreg">
<h1>Register</h1>

<form asp-controller="User" asp-action="register" method="post">
    <label asp-for="name"></label>
    <input asp-for="name"/>
    <span asp-validation-for="name"></span>
    <label asp-for="alias"></label>
    <input asp-for="alias"/>
    <span asp-validation-for="alias"></span>
    <label asp-for="email"></label>
    <input asp-for="email"/>
    @{if(ViewBag.register_error != null){
        <p>@ViewBag.register_error</p>
    }}
    <span asp-validation-for="email"></span>
    <label asp-for="password"></label>
    <input type="password" asp-for="password"/>
    <span asp-validation-for="password"></span>
    <label asp-for="compare"></label>
    <input type="password" asp-for="compare"/>
    <span asp-validation-for="compare"></span>
    <button type="submit">Register</button>
</form>
<p>Already registered? <a href="/main">Login now!</>
</div>



